<ion-view view-title="Order" class="appcomponent vendormenu">
     <ion-nav-title>
        <img src="../../img/Home_TopBar_withoutIcons.png" style="height:60px">
    </ion-nav-title>
  <ion-content>      
      <div class="list" style="margin-bottom: 0; background-image: url(../../img/{{ finishOrder.vendorInfo.imgname }})">
            <label class="item item-input vendoritem" style="background-image: url(../../img/{{ finishOrder.vendorInfo.imgname }})">
           
            <div class="row" style="position:absolute">
                    <h1 class="title">{{finishOrder.orderDetails.vendorName}}</h1>
             </div>                
            </label>
        </div>
        
        
    <label class="item-input">       
         <h2 class="title">Order Confirmed</h2>      
    </label>
   
    <label class="item item-input">
      <div class="row">
        <div class="col"><b>Order Id</b><br>12345</div>
        <div class="col">
        </div>
        <div class="col"><b>Date & Time</b><br>29/01/2016 12:35 PM</div>
      </div>
    </label>
    {{finishOrder.orderDetails}}
    <ion-list>
      <ion-item>
        <div class="row">
            <div class="col"><img src="img/location.png" class="locationIcon">PDC1</div>
        </div>
        <div class="row">
          <div id="orderInfo" class="qrcode">
            
          </div>
        </div>
        <div class="row">
            <div class="col">
              <img src="img/clock.png" class="clockIcon">ETA 20 Mins
            </div>
        </div>
      </ion-item>
        <ion-item>
            <div class="row">
                <div class="col"><b>Total Value</b> Rs. {{finishOrder.orderDetails.totalCost}}</div>
            </div>
          </ion-item>    
    </ion-list>
 <!-- <div star-rating ng-model="rating.rating1" max="10" on-rating-select="rating.rateFunction(rating)"></div> -->
  </ion-content>
  
  <div class="bar bar-footer">              
         <button class="button button-balanced button-full" ng-click="finishOrder.backToHome()">Back to Home</button>
    </div>
</ion-view>
