<!--<ion-view view-title="My Orders">
  <ion-content>
    <label class="item item-input">
        <span class="input-label">
            <h2 class="title">My Orders</h2>
        </span>
    </label>
    <ion-list>
      <ion-item ng-repeat="orderItem in myOrdersList" class="listItemHeight">
        <div class="row">
            <div class="col">123</div>
            <div class="col">{{orderItem.orderto}}</div>
            <div class="col">{{myOrders.convertTimeFormat(orderItem.ordertime)}}</div>
            <div class="col">Rs. {{myOrders.calculateOrderAmount(orderItem.ordereditems)}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->


<ion-view view-title="My Orders" class="appcomponent vendormenu">
  <ion-content on-swipe-left="myOrders.swipeLeft()" on-swipe-right="myOrders.swipeRight()">      
    <label class="item item-input">
        <span class="input-label">
            <h2 class="title">My Orders</h2>
        </span>
    </label>        
    <label class="item-input">       
         <h2 class="title">Order Confirmation ({{myOrders.currentIndex+1}}/{{myOrdersList.length}})</h2>      
    </label>
    <label class="item-input">       
         <h2 class="title">{{myOrdersList[myOrders.currentIndex].ordertoname}}</h2>      
    </label>
    <label class="item item-input">
      <div class="row">
        <div class="col"><b>Order Id</b><br>{{myOrdersList[myOrders.currentIndex].ordernumber}}</div>
        <div class="col">
        </div>
        <div class="col"><b>Date & Time</b><br>{{myOrders.convertTimeFormat(myOrdersList[myOrders.currentIndex].ordertime)}}</div>
      </div>
    </label>
    <ion-list>
      <ion-item>
        <div class="row">
            <div class="col"><img src="img/location.png" class="locationIcon">PDC1</div>
        </div>
        <div class="row">
          <div id="orderInfo" class="qrcode">
            
          </div>
        </div>
        <div class="row">
            <div class="col">
              <img src="img/clock.png" class="clockIcon">ETA 20 Mins
            </div>
        </div>
        <div class="row">
            <div class="col">
              <b>Order Status: </b>{{myOrdersList[myOrders.currentIndex].status}}
            </div>
        </div>
      </ion-item>
        <ion-item>
            <div class="row">
                <div class="col"><b>Total Value: </b>Rs. <label>{{myOrdersList[myOrders.currentIndex].totalCost}}</label></div>
            </div>
          </ion-item>    
    </ion-list>
 <!-- <div star-rating ng-model="rating.rating1" max="10" on-rating-select="rating.rateFunction(rating)"></div> -->
  </ion-content>
  
  <div class="bar bar-footer">               
         <button class="button button-balanced button-full" ng-click="myOrders.backToHome()">Back to Home</button>
    </div>
</ion-view>
