<ion-view view-title="Employee Panda">
    <ion-content class="padding">
        <div class="row">
            <div class="col"></div>
            <div class="col"><img ng-src="img/KFPanda.png"></div>
            <div class="col"></div>
        </div>
        
        <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.emailid">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
           <label class="item item-input">
              <input type="text" placeholder="Role" ng-model="data.role">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login.login()">Login</button>
      <button class="button button-block button-assertive" ng-click="login.signup()">Sign Up</button>
    </ion-content>
</ion-view>